body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #31303067;
}
#calculadora {
    background: black;
    padding: 30px;
    border-radius: 8px;
    border-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;    
}
button {
    width: 23%;
    padding: 10px;
    margin: 1%;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}